extends layout

block content
  .box(style="margin-top:15px;")
    input(type="password", id="password", style="margin:auto;", autofocus)
    .btn.btn-success(id="access_btn", style="margin-right:10px;margin-left:10px;") Start
    .btn.btn-danger Stop

block scripts
  script(src="/js/access_button.js")